<consultation-list>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">قائمة الإستشارات</h4>
            <div class="row">
                <div class="col-12 ">
                    <table ref="mytable" class="table table-hover  table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var self = this;
        self.on('mount', function () {
            $(self.refs.mytable).DataTable({
                "ajax": {
                    url: '/api/consultations/get/',
                    data: {
                        obj: JSON.stringify({
                            aaa: 11
                        })
                    }
                },
                "columns": [{
                    title: "#",
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return Handlebars.compile(
                            `
<a href='#/app/consultation/item/{{id}}'>#{{id}}</a>`)(
                            full);
                    }
                }, {
                    title: "الاسم",
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return Handlebars.compile(
                            `
<a href='#/app/consultation/item/{{id}}'>{{person_name}}</a>`
                        )(
                            full);
                    }
                }, {
                    title: "السؤال",
                    orderable: false,
                    data: 'question'

                }]
            })
        })
    </script>
</consultation-list>