<consultation-item>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">بيانات الاستشارة</h4>
                    <form ref="myform" onsubmit={fnsave} class="form-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">تاريخ السؤال</label>
                                    <div class="col-sm-8">
                                        <input type="text" data-base="datecreate_f" class="form-control val" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">اسم السائل</label>
                                    <div class="col-sm-8">
                                        <input type="text" data-base="person_name" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> السؤال</label>
                                    <div class="col-sm-10">
                                        <textarea data-base="question" rows="3" class="form-control" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> الإجابة</label>
                                    <div class="col-sm-10">
                                        <textarea data-base="answer" rows="3" class="form-control val" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> </label>
                                    <div class="col-sm-10 ">
                                        <button class="btn btn-primary">حفظ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var self = this;

        self.on('mount', function () {
            self = this;
            $(self.refs.myform).validate();
            if (self.opts.params.id > -1 && self.opts.page.data) {
                clsForm.setControl(self.refs.myform, self.opts.page.data[0]);
            }
        });
        self.fnsave = function (e) {
            e.preventDefault();
            if (!$(self.refs.myform).valid()) {
                return;
            }
            var j = clsForm.getControls(self.refs.myform);
            j.id = self.opts.params.id;
            $.ajaxsys({
                url: "/api/consultations/set/",
                data: {
                    obj: JSON.stringify(j)
                },
                success: function (data) {
                    $.toast({
                        text: "تم الحفظ",
                        icon: 'success'
                    });
                    self.opts.page('/app/consultation/list');
                }
            });
        }
    </script>
</consultation-item>