<gift-list>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <span>قائمة الهدايا</span>
                <a href="#/app/gift/item/-1" class="btn btn-info btn-xs float-left"> جديد</a>
            </h4>
            <div class="row">
                <div class="col-12 ">
                    <table ref="mytable" class="table table-hover  table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var self = this;
        self.on('mount', function () {
            $(self.refs.mytable).DataTable({
                "ajax": {
                    url: '/api/gift/get/',
                    data: {
                        obj: JSON.stringify({
                            aaa: 11
                        })
                    }
                },
                "columns": [{
                    title: "الاسم",
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return Handlebars.compile(
                            `
<a href='#/app/gift/item/{{id}}'>{{title}}</a>`
                        )(
                            full);
                    }
                }, {
                    title: "عدد الهدايا",
                    orderable: false,
                    data: 'giftcount'
                }, {
                    title: "الشريك",
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return Handlebars.compile(
                            `
<a href='#/app/partner/item/{{partner_id}}'>{{partner_name}}</a>`
                        )(
                            full);
                    }
                }]
            })
        })
    </script>
</gift-list>