<login>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            <form ref="myform" onsubmit={login}>
                                <div class="form-group">
                                    <label class="label">البريد او رقم الهاتف</label>
                                    <input type="text" data-base="username" required dir="ltr" class="form-control val" placeholder="البريد او رقم الهاتف">

                                </div>
                                <div class="form-group">
                                    <label class="label">كلمة المرور</label>
                                    <input type="password" data-base="password" required dir="ltr" class="form-control val" placeholder="*********">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block">تسجيل الدخول</button>
                                </div>
                                <!-- <div class="form-group d-flex justify-content-between">
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked> Keep me signed in
                                        </label>
                                    </div>
                                    <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                                </div> -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var self = this;
        self.on('mount', function () {
            $(self.refs.myform).validate();
        });

        self.login = function (e) {
            e.preventDefault();
            if (!$(self.refs.myform).valid()) {
                return;
            }
            var j = clsForm.getControls(self.refs.myform)
            j.rule_id = 2;
            $.ajaxsys({
                url: "/api/person/login/",
                data: {
                    obj: JSON.stringify(j)
                },
                success: function (data) {

                    if (data.length == 0) {
                        $.toast({
                            text: "يوجد خطأ في البيانات",
                            icon: 'error'
                        })
                        return false;
                    }

                    if (data[0]["error_ar"]) {
                        $.toast({
                            text: data[0]["error_ar"],
                            icon: 'error'
                        });
                        return false;
                    }

                    localStorage.setItem('login', JSON.stringify(data[0]));
                    self.opts.page('/app/');
                }
            });



        }
    </script>
    <style>
        .auth.auth-bg-1 {
            background-image: url("images/BlueBackground.jpg");
        }
    </style>
</login>