<logout>
    <script>
        var self = this;
        self.on('mount', function () {
            localStorage.removeItem('login');
            self.opts.page('/login/');
        });
    </script>
</logout>