<partner-item>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">بيانات الشريك</h4>
                    <form ref="myform" onsubmit={fnsave} class="form-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">الاسم</label>
                                    <div class="col-sm-8">
                                        <input type="text" data-base="name" class="form-control val" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">الصورة</label>
                                    <div class="col-sm-8">
                                        <file-uploader ref="img" data-base="img"></file-uploader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">رقم الجوال</label>
                                    <div class="col-sm-8">
                                        <input type="tel" data-base="phone" class="form-control val" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> العنوان</label>
                                    <div class="col-sm-10">
                                        <textarea data-base="address" rows="3" class="form-control val" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> نبذة عن الشريك</label>
                                    <div class="col-sm-10">
                                        <textarea data-base="content" rows="3" class="form-control val" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> </label>
                                    <div class="col-sm-10 ">
                                        <button class="btn btn-primary">حفظ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var self = this;

        self.on('mount', function () {
            self = this;
            $(self.refs.myform).validate();
            if (self.opts.params.id > -1 && self.opts.page.data) {
                clsForm.setControl(self.refs.myform, self.opts.page.data[0]);
            }
        });
        self.fnsave = function (e) {
            e.preventDefault();
            if (!$(self.refs.myform).valid() || !self.refs.img.valid()) {
                return;
            }
            var j = clsForm.getControls(self.refs.myform);
            j.id = self.opts.params.id;
            $.ajaxsys({
                url: "/api/partner/set/",
                data: {
                    obj: JSON.stringify(j),
                    "base64_img": self.refs.img.val()
                },
                success: function (data) {
                    $.toast({
                        text: "تم الحفظ",
                        icon: 'success'
                    });
                    self.opts.page('/app/partner/list');
                }
            });
        }
    </script>
</partner-item>