<ddl-lookup>
    <select ref="myselect" class="form-control ">
        <option value="">برجاء الاختيار</option>
    </select>
    <script>
        var self = this;

        self.on('mount', function () {
            self = this;
            var parentobj = self.parent.opts.page.data;
            if (parentobj && parentobj.length) {
                var key_text = self.opts.dataTxt;
                var key_val = self.opts.dataBase;
                $(self.refs.myselect).append($("<option />").attr('selected', 'selected').text(parentobj[0][
                    key_text
                ]));
            }

            var set = {
                dir: 'rtl',
                language: "ar",
                theme: 'bootstrap4',
                tags: true
            }
            if (self.opts.dataAjaxUrl) {
                set.ajax = {
                    type: 'POST',
                    url: self.opts.dataAjaxUrl,
                    dataType: 'json',
                    data: function (params) {
                        return {
                            obj: JSON.stringify({
                                key: params.term
                            })
                        };
                    },
                    processResults: function (data) {
                        data.map(function (d) {
                            d.text = d[self.opts.dataAjaxText];
                            d.id = d[self.opts.dataAjaxVal];
                        });
                        return {
                            results: data
                        };
                    }
                };
            }

            $(self.refs.myselect).select2(set);

        });
        self.on('update', function () {
            self = this;
        });
        self.valid = function () {
            var isvalid = self.baseurl.length > 0;
            if (isvalid) {
                $(self.refs.holder).addClass('has-success').removeClass('has-error');
            } else {
                $(self.refs.holder).addClass('has-error').removeClass('has-success');
            }
            return isvalid;
        }
        self.val = function (val) {
            if (val) {
                $(self.refs.myselect).val(val).trigger('change');
            }
            return $.trim($(self.refs.myselect).val());
        }
    </script>

    <style>
    </style>
</ddl-lookup>