<file-uploader>
    <div ref="holder" onclick={fnOpen} class="input-group col-xs-12">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-info" type="button">
                <i class="mdi mdi-cloud-upload"></i>
            </button>
        </span>
        <input ref="mytext" type="text" value={baseurl} dir="ltr" class="form-control file-upload-info" disabled="" placeholder="تحميل">
        <input ref="myfile" onchange={fnFileChanged} type="file" accept="image/*">

    </div>
    <div ref="holder_image" style="display: none;">
        <img src="{base64}" class="img-review" />
    </div>
    <script>
        var self = this;

        self.base64 = "";
        self.baseurl = "";
        self.on('mount', function () {
            self = this;
        });
        self.on('update', function () {
            self = this;
            if (self.baseurl.length > 0) {
                $(self.refs.holder).popover({
                    trigger: 'hover',
                    html: true,
                    content: function () {
                        return $(self.refs.holder_image).html();
                    }
                })
            }

        });
        self.valid = function () {
            var isvalid = self.baseurl.length > 0;
            if (isvalid) {
                $(self.refs.holder).addClass('has-success').removeClass('has-error');
            } else {
                $(self.refs.holder).addClass('has-error').removeClass('has-success');
            }
            return isvalid;
        }
        self.val = function (val) {
            if (val) {
                self.baseurl = val;
                toDataUrl(global.baseimgurl + val, function (base64) {
                    self.base64 = base64;
                    self.update();
                });
            }
            return $.trim(self.base64);
        }
        self.fnOpen = function () {
            $(self.refs.myfile).click();
        }
        self.fnFileChanged = function (e) {
            var fils = self.refs.myfile.files;
            if (fils.length == 0) {
                return;
            }
            var f = fils[0]
            $(self.refs.mytext).val(f.name);
            getFileContentAsBase64Input(f, function (content) {
                self.base64 = content;
                self.baseurl = f.name;
                self.update();
            });
        }


        function getFileContentAsBase64Input(file, callback) {
            var reader = new FileReader();
            reader.onloadend = function (e) {
                var content = this.result;
                callback(content);
            };
            reader.readAsDataURL(file);
        }

        function toDataUrl(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                var reader = new FileReader();
                reader.onloadend = function () {
                    callback(reader.result);
                }
                reader.readAsDataURL(xhr.response);
            };
            xhr.open('GET', url);
            xhr.responseType = 'blob';
            xhr.send();
        }
    </script>

    <style>
        [type="file"] {
            display: none;
        }

        .img-review {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</file-uploader>