<menu>
    <ul class="nav page-navigation">
        <li class="nav-item">
            <a href="#/app/" class="nav-link">
                <i class="link-icon mdi mdi-television"></i>
                <span class="menu-title">الرئيسية</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/app/partner/list" class="nav-link">
                <i class="link-icon mdi mdi-asterisk"></i>
                <span class="menu-title">الشركاء</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
                <ul class="submenu-item">
                    <li class="nav-item">
                        <a class="nav-link" href="#/app/partner/list">قائمة الشركاء</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/app/gift/list">الهدايا</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#/app/consultation/list" class="nav-link">
                <i class="link-icon mdi mdi-asterisk"></i>
                <span class="menu-title">التطبيق</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
                <ul class="submenu-item">
                    <li class="nav-item">
                        <a class="nav-link" href="#/app/consultation/list">الاستشارات</a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- 
            <li class="nav-item mega-menu">
            <a href="#" class="nav-link">
                <i class="link-icon mdi mdi-android-studio"></i>
                <span class="menu-title">FORMS</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
                <div class="col-group-wrapper row">
                    <div class="col-group col-md-3">
                        <p class="category-heading">Basic Elements</p>
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" href="basic_elements.html">Basic Elements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="advanced_elements.html">Advanced Elements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="validation.html">Validation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="wizard.html">Wizard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="text_editor.html">Text Editor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="code_editor.html">Code Editor</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-group col-md-3">
                        <p class="category-heading">Charts</p>
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/chartjs.html">Chart Js</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/morris.html">Morris</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/flot-chart.html">Flaot</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/google-charts.html">Google Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/sparkline.html">Sparkline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/c3.html">C3 Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/chartist.html">Chartist</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../charts/justGage.html">JustGage</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-group col-md-3">
                        <p class="category-heading">Maps</p>
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" href="../maps/mapeal.html">Mapeal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../maps/vector-map.html">Vector Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../maps/google-maps.html">Google Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="link-icon mdi mdi-asterisk"></i>
                <span class="menu-title">APPS</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
                <ul class="submenu-item">
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/email.html">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/calendar.html">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/todo.html">Todo List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apps/gallery.html">Gallery</a>
                    </li>
                </ul>
            </div>
        </li> -->
    </ul>
    <script>
    </script>
</menu>