<routehandler>
    <div ref="holder" if={ctx.tag}></div>
    <script>
        var page = require('page');
        var self = this;
        self.ctx = {};
        if (self.opts.options) {
            if (self.opts.options.base) page.base(self.opts.options.base);
            page(self.opts.options)
        }


        if (self.opts.routes) {
            mountRoutes(self.opts.routes);
        }

        page('*', function (ctx, next) {

            ctx.page = page;
            var tag = document.createElement(ctx.tag);

            $(self.root).html(tag);
            var myriot = riot.mount(tag, ctx);

            self.update();
            next();
        });

        self.on('mount', function () {
            page();
        });

        function mountRoutes(routes) {
            routes.map(function (rrr) {
                page(rrr.route, function (ctx, next) {
                    ctx = $.extend(ctx, rrr, self.opts);
                    if (rrr.use && typeof rrr.use == "function") {
                        rrr.use(ctx, next, page);
                    } else {
                        next();
                    }
                });
            });
        }
    </script>
</routehandler>