.navbar.horizontal-layout .nav-bottom .page-navigation>.nav-item .submenu ul li a {
    text-align: initial;
}

.help-block.error {
    float: left;
    font-size: 13px;
    color: red;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    direction: ltr;
    float: left;
}

.has-error .form-control {
    border-color: #DB504A !important;
}

.has-success .form-control {
    border-color: #4CCEAC !important;
}